<html lang="en">
<head>
{% block head %}
<title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}" rel="stylesheet">
{% endblock head %}
</head>

<body>
{% block body %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.js') }}"></script>
{% endblock scripts %}
{% block content %}{% endblock content %}
{% endblock body %}
</body>

<footer>{% block footer %}{%  endblock footer %}</footer>
